.end-wrapper {
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    background-color: pink;

    .care-message {
        font-size: 15px;
        margin: 20px 80px;
        margin-left: 200px;

        h1 {
            font-family: 'Lobster Two', cursive;
        }

        p {
            font-weight: 600;
        }

        .care-icons {
            margin-top: 20px;
            font-size: 25px;
            display: flex;
            justify-content: space-around;
        }

        .care-labels {
            display: flex;
            justify-content: space-between;

            .icon-labels {
                margin: 10px 20px;
                text-align: center;
            }
        }
    }

    .right-side {
        margin: 20px 80px;

        .emails {
            h1 {
                font-family: 'Lobster Two', cursive;
                font-size: 30px;
            }

            h2 {
                margin: 10px;
            }
        }

        .socials {
            h1 {
                margin: 10px;
                font-family: 'Lobster Two', cursive;
                font-size: 25px;
            }

            .social-icons {
                font-size: 25px;

                a {
                    text-decoration: none;
                    color: black;
                    margin: 20px;
                }
            }
        }
    }
}